h1 {
    background-color: blanchedalmond;
    padding: 20px 30px;
    margin: 50px;
    text-align: center;
}

p {
    background-color: beige; 
    border: 5px solid rgb(221, 158, 151);
}

.idk {
    width: 200px;
}